<app-add-task (onAddTask)="addTask($event)"></app-add-task>
<app-tasks-item 
    *ngFor="let task of tasks" 
    [task] = "task" 
    (onDeleteTask) = "deleteTask(task)" 
    (onToggleReminder)="toggleReminder(task)">
</app-tasks-item>
<!--En vez de pasarle {{cada.text}} (este iba dentro >aqui<) le paso la tarea completa con [task] = "cada"-->
<!--Aca recibimos una tarea por tarjeta [task]="cada"-->
<!--Es como si por los "cada" activa "tareas" de app-tasks-item-->

<!--LUEGO DE ACOMODAR EL SERVIDOR
    Recibe la función (onDeleteTask) y ejecuta "deleteTask(task)"
    ESTO LO TUVE QUE CAMBIAR PARA QUE FUNCIONE: "let cada of tasks" [tareas]= "cada"-->

<!--ADD-TASK
    Me parece que en (onAddTask)="addTask($event)" es un evento($event) porque la función origen en 
    add-task(html) no recibe ningun parametro a diferencia de
    (onDeleteTask)="deleteTask(task)" y (onToggleReminder)="toggleReminder(task)"-->