/*Le pone display flex y justify content para que cuando ponga el butaon 
se mantengan horizontal y aliniado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}