<header>
    <h1>{{title}}</h1>
    <app-button 
        color="{{showAddTask ? 'red' : 'green'}}" 
        text="{{showAddTask ? 'Close Task' : 'Add Task'}}" 
        (btnClick)="toggleAddTask()"
        *ngIf="hasRoute('/')">
    </app-button>
</header>
<!--btnClick recibe lo que le envia button y ejecuta toggleAddTask-->

<!--Si showAddTask es verdadero el color sera red si no green | lo mismo para el texto-->

<!--*ngIf="hasRoute"
    Si la url es igual al route de este componente va devolver verdadero. Por lo que, si esta en 
la ruta va a mostrar el button.-->